.links{
    
    width: 100%;
    display:flex;
    justify-content: end;
    margin-right: 0 !important;
    
   
}
.nav-link{
    color:black;
    font-size: 18px !important;

}

.bg-blue{
    background-color: #e3f2fd;
}